.list {
    overflow-y: scroll;
    height: 45vh;
    margin-top: 1.2rem;
    text-align: left;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            color: @bg-color-dark;
            background-color: @item-color;
            margin: .2rem;
            padding: .8rem;
        }
    }

    /* Larger than Mobile */
    @media (min-width: 400px) {
        height: 50vh
    }

    /* Larger than Phablet (Phone & Tablet) */
    @media (min-width: 550px) {
        height: 60vh;
    }

    /* Larger than Tablet */
    @media (min-width: 750px) {

    }

    /* Larger than Desktop */
    @media (min-width: 1140px) {

    }

    /* Larger than Desktop HD */
    @media (min-width: 1280px) {

    }

}